{% load static %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Création d'un Administrateur</title>
    <link rel="stylesheet" href="{% static 'css/creation.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body>
    <nav class="navbar">
        <div class="left-buttons">
            <a href="{% url 'reservation' %}">
                <button type="button">Mes réservations</button>
            </a>
            <a href="{% url 'box' %}">
                <button type="button">Gestion des box</button>
            </a>
            <a href="{% url 'admini' %}">
                <button type="button">Gérer les utilisateurs</button>
            </a>
        </div>
        <div class="right-button logout">
            <a href="{% url 'logout' %}">
                <button type="button">Déconnexion</button>
            </a>
        </div>
    </nav>
    <header>
        <h1>Création d'un Administrateur</h1>
        <!-- <nav>
            <button onclick="window.location.href='{% url 'choixAdmin' %}'">Retour au choix administrateur</button>
        </nav> -->
    </header>

    <section>
        <h2>Ajouter un nouvel administrateur</h2>
        <form method="POST" id="form1">
            {% csrf_token %}
            <label for="admin_email">Email de l'administrateur :</label>
            <input type="email" id="admin_email" name="admin_email" required>

            <button type="submit" id='cadm'>Créer l'administrateur</button>
        </form>
    </section>

    {% if messages %}
        <div class="messages">
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        </div>
    {% endif %}
</body>
</html>