<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/reservation_style.css'%}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <!-- icones -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=arrow_forward_ios" />
    
    <title>Liste des Appointments</title>
</head>
<body>
    <nav class="navbar">
        <div class="left-buttons">
            <a href="{% url 'calendar' %}">
                <button type="button">Retour</button>
            </a>
        </div>
        <div class="right-button logout">
            <a href="{% url 'logout' %}">
                <button type="button">Déconnexion</button>
            </a>
        </div>
    </nav>
    {% if messages %}
    <div class="messages">
        <ul>
            {% for message in messages %}
            <li class="message {{ message.tags }}">{{ message }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
    <h1>Liste des Appointments</h1>
    <table>
        <thead>
            <tr>
                <!-- <th>Email</th> -->
                <th>Date</th>
                <th>Heure de début</th>
                <th>Heure de fin</th>
                <th>Box</th>
            </tr>
        </thead>
        <tbody>
            {% for appointment in appointments %}
            <tr>
                <!-- <td>{{ appointment.mail }}</td> -->
                <td>{{ appointment.date }}</td>
                <td>{{ appointment.entry_time }}</td>
                <td>{{ appointment.exit_time }}</td>
                <td>{{ appointment.idbox }}</td>
                <td>
                    {% if appointment.id %}
                    <form method="POST" action="{% url 'delete_appointment' appointment.id %}" style="display:inline;">
                        {% csrf_token %}
                        <button type="submit" class="delete-button">Supprimer</button>
                    </form>
                    {% else %}
                    {% endif %}
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="4">Aucune donnée disponible</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
