<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'reservation_style.css'%}">
    <title>Liste des Appointments</title>
</head>
<body>
    <h1>Liste des Appointments</h1>
    <a href="{% url 'calendar' %}">
        <button type="button">Retour</button>
    </a>
    <table>
        <thead>
            <tr>
                <!-- <th>Email</th> -->
                <th>Date</th>
                <th>Heure de début</th>
                <th>Heure de fin</th>
            </tr>
        </thead>
        <tbody>
            {% for appointment in appointments %}
            <tr>
                <!-- <td>{{ appointment.mail }}</td> -->
                <td>{{ appointment.date }}</td>
                <td>{{ appointment.entry_time }}</td>
                <td>{{ appointment.exit_time }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="4">Aucune donnée disponible</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
