table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    border: 1px solid #ddd;
    text-align: center;
    padding: 10px;
}
th {
    background-color: #f4f4f4;
}
td:hover {
    background-color: #f0f8ff;
}

/* Style pour les créneaux réservés */
.reserved {
    background-color: #d3d3d3;
    color: #808080;
    pointer-events: none; /* Désactive le clic sur les créneaux réservés */
}